<div class="card card-cadastro">
    <h5 class="card-header">Cadastro de Recomenação</h5>
    <div class="card-body">
        <form (ngSubmit)="createRecommendation()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="recommendation.name" required>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">CPF</label>
                        <input type="text" name="cpf" class="form-control" [(ngModel)]="recommendation.cpf">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Phone</label>
                        <input type="text" name="phone" class="form-control" [(ngModel)]="recommendation.phone">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" name="name" class="form-control" [(ngModel)]="recommendation.email">
            </div>

            <button class="btn btn-success btn-sm mt-4 float-right">Cadastrar</button>
        </form>
    </div>
  </div>
  <app-list-recommendation></app-list-recommendation>

